* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

:root {
  --text-color: #667085;
  --main-color: #8E2424;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  width: 75rem;
  height: 5rem;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

header img {
  max-width: 100%;
}

nav ul {
  display: flex;
  gap: 2rem;
}

nav ul li {
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  padding: 0.5rem;
  color: var(--text-color);
}

nav ul li a:hover {
  text-decoration: underline;
}

.header-button {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.entrar {
  text-decoration: none;
  color: var(--text-color);
}

.entrar:hover {
  text-decoration: underline;

}

.cadastrar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: var(--main-color);
  color: #fff;
  border-radius: 8px;
  width: 112px;
  height: 44px;
}

.cadastrar:hover{
  background: green;
}

#home {
  width: 75rem;
  height: auto;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.link-sobre {
  color: var(--main-color);
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}

.link-sobre:hover {
  text-decoration: underline;
}

#home h1 {
  font-size: 3rem;
  font-weight: 600;
}

.descricao {
  width: 49rem;
  font-size: 1.25rem;
  text-align: center;
}

hr {
  width: 60rem;
  margin: 0 auto;
}

.metricas {
  width: 75rem;
  height: 17.5rem;
  padding-top: 1rem;
  margin: 0 auto;
  display: flex;  
  justify-content: space-between;
}

.card {
  width: 18.7rem;
  padding: 0 2rem;
}

.card h1{
  font-size: 3.7rem;
  color: var(--main-color);
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  font-size: 1rem;
}

#anuncio-vagas {
  width: 75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
  margin: 0 auto;
  gap: 1rem;
}

#anuncio-vagas a {
  font-size: 0.87rem;
  color: var(--main-color);
  text-decoration: none;
  font-weight: 500;
}

#anuncio-vagas a:hover {
  text-decoration: underline;
}

#anuncio-vagas h1 {
  font-size: 2.25rem;
  font-weight: 600;
}

#anuncio-vagas p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-color);
  margin-bottom: 3rem;
}

.container-vagas {
  width: 75rem;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin-bottom: 2rem;
}

.grid-vagas {
  width: 25rem;
  height: auto;
  border: 2px #66708533 solid;
  padding: 1rem;
  border-radius: 8px;
}

.grid-vagas h3 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 3.5rem;
}

.vaga-1 {
  padding: 1rem 2rem;
}

.vaga-1 h4 {
  margin-bottom: 2rem;
}

.vaga-1 footer {
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
}